
/* /////HEADER AND FOOTER///// */
* {
  box-sizing: border-box;
}

body {
  width: 1000px;
  background-color: rgb(196, 236, 247);
  margin: 0 auto;
}

header {
  margin-top: 50px;
}

h1 { 
  display: inline-block;
  font-size: 80px;
  position: relative;
  bottom: 80px;
  padding: 10px;
  font-family: 'Notable', sans-serif;
}

h2 {
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
}

div {
  display: inline;
  padding: 10px;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 23px;
}

/* ////IMAGES//// */

#busimage {
  width: 215px;
  height: auto;
}

#img {
  height: 300px;
  width: 300px;
  margin-top: 40px;
  border: 2px solid black;
}


